*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
        --font-family:'Lato';
}

.menu_bar{
       width: 180px;
       height: 180px;
       background-color: #ff7979;
       border-radius: 100px;
       position: fixed;
       z-index: 2;
       transform: translate(-80px,-50px) rotate(0deg);
       
}
.menu_bar img:first-child{
          width: 40px;
          position: relative;
          top: 88px;
          left: 112px;

}
.menu_bar img:last-child{
        width: 30px;
        position: relative;
        top: 90px;
        left: -10px;
}
.menuBar_side{
     width: 220px;
     height: 100vh;
     z-index: -1;
     background-color: black;
     transform: translateX(-250px);
    display: none;
}
.list{
      width: 100%;
      height: 200px;
     
      position: relative;
      top: 370px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: flex-end;
}
.list h2{
     font-family: var(--font-family);
     padding-right: 22px;
     color: white;
}
.con{
      width: 70%;
      margin-left: 200px;
     padding-top: 120px;
    z-index: 3;
}
.con h2{
     font-family: var(--font-family);
     font-size: 41px;
}
.con span{
     font-family: var(--font-family);
     padding-top: 12px;
     font-size: 14px;
}
.con p{
     font-family: var(--font-family);
     line-height: 1.7rem;
     padding-top: 40px;
}
.con h3{
     font-family: var(--font-family);
     font-size: 22px;
     padding-top: 40px;
}
.con img{
     width: 100%;
     margin-top: 32px;
}




/* jsClass */

.show{ 
      transition: all .6s ease-in-out;
    
      transform: translate(-80px,-50px) rotate(-170deg);
}
.show img:last-child{
        position: relative;
        top: 59px;
        transform: rotate(-10deg);
}
.showMistake{
    transition: all .6s ease-in-out;
    transform: translate(-80px,-50px) rotate(0deg);
}
.showCon{
      transform: rotate(-10deg) translate(-19px,-30px);
      transition: all .6s ease-in-out;
      height: 250vh;
     position: absolute;
     display: block;
   
      
}
.hideCon{
     transform: rotate(0deg) translateX(-300px);
     transition: all .6s ease-in-out;
    
}
.show_main_con{
        transition: all .5s ease-in-out;
        transform: translate(120px, -120px) rotate(-10deg);
}
.hide_menu_bar{
            transform: translate( 0px , 0px) ,rotate(0deg);
            transition: all .6s ease-in-out;
}